//
//  OVERRIDES
//
//  All the important colors of the PeepSo layout
//	overrided & prepared for Theme Designer
//


//  General
//$color-gray-light:       #76b677;
//$color-gray:             #757575;
$color-gray-dark:        #333;

$color-light:            rgba(0,0,0,.1);
$color-neutral:          $color-gray;
$color-primary:          #FF9100;
$color-success:          #2FBA34;
$color-warning:          #ffa726;
$color-danger:           #e53935;
$color-brand:            #d0423c;
$color-muted:            #94bf95;

$color-text:             $color-gray-dark;
$color-text-light:       $color-gray-light;
$color-text-dark:        $color-gray;
$color-icon:             $color-neutral;

//  Hashtags
$scss-hashtag-color:          #fff;
$scss-hashtag-color-hover:    #fff;
$scss-hashtag-bg:             $color-primary;
$scss-hashtag-bg-hover:       darken($color-primary, 10%);

//  Temporary override
$stream-post-meta-color:        $color-text-dark;
$stream-post-time-color:        $color-text-light;
$tab-content-color:             $color-gray-dark;
$postbox-charcount-color:       $color-gray-dark;
$alert:                         #E8F5E9;
$alert-color:                   #43A047;


//  Buttons
$scss-btn-color:                  #9c8076;
$scss-btn-color-hover:            #9c8076;
$scss-btn-bg:                     #EFEBE9;
$scss-btn-bg-hover:               #e7e2dd;

$scss-btn-primary-color:          #FFF;
$scss-btn-primary-color-hover:    #FFF;
$scss-btn-primary-bg:             #FF9100;
$scss-btn-primary-bg-hover:       darken($scss-btn-primary-bg, 5%);

$scss-btn-success-color:          #FFF;
$scss-btn-success-color-hover:    #FFF;
$scss-btn-success-bg:             $btn-success;
$scss-btn-success-bg-hover:       darken($btn-success, 10%);

$scss-btn-warning-color:          #FFF;
$scss-btn-warning-color-hover:    #FFF;
$scss-btn-warning-bg:             $btn-warning;
$scss-btn-warning-bg-hover:       darken($btn-warning, 10%);

$scss-btn-danger-color:           #FFF;
$scss-btn-danger-color-hover:     #FFF;
$scss-btn-danger-bg:              $btn-danger;
$scss-btn-danger-bg-hover:        darken($btn-danger, 10%);


//  Toolbar
$scss-toolbar-color:              #D7CCC8;
$scss-toolbar-color-hover:        #FFF;
$scss-toolbar-bg:                 #795548;
$scss-toolbar-bg-hover:           darken($scss-toolbar-bg, 5%);
$scss-toolbar-separator:          1px solid #8D6E63;


//  Toolbar Submenu
$scss-submenu-bg:                 #795548;
$scss-submenu-shadow:             darken($scss-submenu-bg, 5%);
$scss-submenu-dropdown-bg:        #f6f3f1;


//  Postbox
$scss-postbox-bg:                 $postbox-bg;
$scss-postbox-color:              $postbox-color;
$scss-postbox-tab-color:          #9c8076;
$scss-postbox-tab-color-hover:    #9c8076;
$scss-postbox-tab-bg:       	    #EFEBE9;
$scss-postbox-tab-bg-hover:       #e7e2dd;


//  Focus
$scss-focus-color:                #E65100;
$scss-focus-bg:                   #FF9100;
$scss-focus-border:               $focus-border;
$scss-focus-separator:            1px solid #FFAB40;
$scss-focus-interactions-bg:      darken($scss-focus-bg, 5%);
$scss-focus-interactions-border:  none;
$scss-focus-item-bg-current:      #F57C00;
$scss-focus-link-color:           #FFE0B2;
$scss-focus-link-color-hover:     #FFF;


//  Members
$scss-member-item-bg:             #f6fbf6;
$scss-member-item-border:         1px solid #E8F5E9;


//  Groups
$scss-group-item-bg:              #f6fbf6;
$scss-group-item-border:          #E8F5E9;
$scss-group-item-actions-bg:      #f0f9f0;


//  Accordion
$scss-accordion-item-color:                 #85b687;
$scss-accordion-item-bg:                    #E8F5E9;
$scss-accordion-item-bg-active:             #f6fbf6;
$scss-accordion-item-border:                1px solid #def0df;
$scss-accordion-item-action-color:          #83ce86;
$scss-accordion-item-action-color-hover:    #4CAF50;


//  Popover
$scss-popover-bg:                 $popover-bg;
$scss-popover-btn-color:          $scss-btn-color;
$scss-popover-btn-bg:             $scss-btn-bg;
$scss-popover-btn-color-hover:    $scss-btn-color-hover;
$scss-popover-btn-bg-hover:       $scss-btn-bg-hover;


//  Stream
$scss-stream-post-bg:             $stream-post-bg;
$scss-stream-post-border:         1px solid #E8F5E9;
$scss-stream-post-status-bg:      #f6fbf6;
//  todo
$stream-placeholder-bg:           #C8E6C9;
$stream-placeholder-bg-2:         #A5D6A7;


//  Comments
$scss-comments-bg:                #f6fbf6;
$scss-comments-border:            1px solid #E8F5E9;
$scss-comments-reply-bg:          #E8F5E9;


//  Form
$scss-input-color:                $input-color;
$scss-input-bg:                   $input-bg;
$scss-input-border:               1px solid #C8E6C9;
$scss-input-border-focus:         #A5D6A7;
$scss-form-sprites-position:      -13px;


//  Tabs
$scss-tab-item-bg:                #E8F5E9;
$scss-tab-item-bg-active:         $tabs-item-active-bg;
$scss-tab-item-border:            1px solid #def0df;
$scss-tab-item-arrows-color:      #def0df;


//  Dialog window
$scss-dialog-bg:                  $dialog-bg;
$scss-dialog-border:              1px solid #C8E6C9;
$scss-dialog-header-color:        $dialog-header-color;
$scss-dialog-header-bg:           #1B5E20;
$scss-dialog-close-color:         #66BB6A;
$scss-dialog-close-color-hover:   $dialog-close-hover;
$scss-dialog-footer-bg:           #E8F5E9;


//  Chat
$scss-chat-window-bg:                    $chat-window-bg;
$scss-chat-window-border:                $chat-window-border;
$scss-chat-window-header-color:          $chat-window-header-color;
$scss-chat-window-header-bg:             #81C784;
$scss-chat-window-header-bg-hover:       #A5D6A7;
$scss-chat-window-header-bg-active:      #4CAF50;
$scss-chat-window-header-border:         $chat-window-header-shadow;
$scss-chat-window-input-border:          $chat-input-border;


//  Widget
$scss-widget-bg:                         $module-bg;
$scss-widget-border:                     1px solid #def0df;
$scss-widget-header-color:               #7cb77e;
$scss-widget-header-bg:                  #E8F5E9;


//  Bubble
$scss-bubble-color:                      #fff;
$scss-bubble-bg:                         $color-danger;


//  Dropdown
$scss-dropdown-bg:                       $dropdown-bg;
$scss-dropdown-border:                   none;
$scss-dropdown-item-bg:                  none;
$scss-dropdown-item-bg-hover:            #f6fbf6;
$scss-dropdown-item-separator:           1px solid #def0df;


//  Notifications
$scss-notification-item-separator:       1px solid #def0df;
$scss-notification-item-bg-unread:       #E8F5E9;


//  Avatar
$scss-avatar-bg:                         $avatar-border-color;
$scss-avatar-border:                     #def0df;


//  Reactions
$scss-reactions-separator:               #E8F5E9;
$scss-reactions-dropdown-bg:             #fff;
$scss-reactions-dropdown-border:         #E8F5E9;
$scss-reactions-dropdown-separator:      #E8F5E9;
$scss-reactions-emote-shadow:            #fff;


//  BadgeOS
$scss-badgeos-item-bg:                   #f6fbf6;
$scss-badgeos-item-border:               #E8F5E9;
$scss-badgeos-item-image-bg:             #fff;


//  BlogPosts
$scss-blogposts-post-bg:                 #fff;
$scss-blogposts-post-border:             #E8F5E9;
$scss-blogposts-post-image-bg:           #f6fbf6;
$scss-blogposts-authorbox-border:        #E8F5E9;


//  WPAdverts
$scss-classifieds-item-bg:               #fff;
$scss-classifieds-item-border:           #E8F5E9;
$scss-classifieds-item-featured-bg:      #f0fbf0;
$scss-classifieds-item-featured-border:  #b2e6b4;


//  Messages
$scss-messages-item-bg:                  #f6fbf6;
$scss-messages-item-bg-unread:           #E8F5E9;
$scss-messages-header-border:            #E8F5E9;

$scss-typing-indicator-color:            #43A047;
$scss-typing-indicator-bg:               #E8F5E9;


//  Pagination
$scss-pagination-bg:                     #E8F5E9;
$scss-pagination-bg-hover:               #C8E6C9;
