* {
    transition: all .2s ease;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    background: linear-gradient(to bottom, white 0%, white 21%, $site-yellow 33%, white 45%, $site-yellow 66%, $site-yellow 80%, white 88%, $site-yellow 100%);
}

hr {
    background-color: $color__background-hr;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

.site-branding {
    min-height: 200px;
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 0 0 5px rgba(black, 0.8);

    h1 { margin-bottom: 0; }
}

@import "lists";

img {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
}

figure {
    margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

@import "tables";

.site-branding,
.site-content,
.site-footer {
    padding: 2em;
}

.site-branding { padding-top: 6em; }

.site-footer {
    background: $site-gray;
}
