$site-theme: #37a000;
$site-yellow: #f8f5e4;
$site-gray: #cccccc;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: $site-theme;
$color__background-button-hover: darken($site-theme, 10%);
$color__background-button-focus: $color__background-button-hover;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $site-theme;
$color__link-visited: $site-theme;
$color__link-hover: darken($site-theme, 15%);
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
