.cstream-reactions-options {
  display:none;
  margin:0px !important;
}

.ps-reaction-likes + .ps-stream-status {
  display: none !important;
}

.ps-reaction-options {
  padding:0px !important;
  margin:0px !important;
}

.ps-icon-reaction.ps-reaction-emoticon-0 {
  background-image: url('../../assets/images/reactions/like_gray.svg');
}

.ps-icon-reaction.ps-reaction-emoticon-0.liked,
.ps-icon-reaction.ps-reaction-emoticon-0:hover {
  background-image: url('../../assets/images/reactions/like_blue.svg');
}

.ps-icon-reaction, .ps-reaction-option {
  font-size:14px;
  padding-left:20px;
  background-repeat:no-repeat;
}

.ps-stream-reactions-hidden {
  display: none;
}


/*  Emoticon  */
.ps-reactions-count-icon {
  background-repeat: no-repeat;

  height:14px;
  width:18px;

  display:inline-block;
  margin-left:-8px;

  filter: url(#drop-shadow);
  -webkit-filter: drop-shadow(-2px 0 $scss-reactions-emote-shadow);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=-2, OffY=0, Color="$scss-reactions-emote-shadow")";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=-2, OffY=0, Color="$scss-reactions-emote-shadow")";
  filter: drop-shadow(-2px 0px $scss-reactions-emote-shadow);
}

.ps-reactions-count-icon-first {
  margin-left: 0 !important;
}


/*  Reactions wrapper  */
.ps-reactions {
  position: absolute;
  left: 0px;
  z-index: 30;
}


/*  Wrapping reaction options  */
.ps-reaction-options {
  padding: 7.5px 8.5px !important;
  background-color: $scss-reactions-dropdown-bg;
  border: 1px solid $scss-reactions-dropdown-border;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0, .1);
  -moz-box-shadow:    0px 0px 5px 0px rgba(0,0,0, .1);
  box-shadow:         0px 0px 5px 0px rgba(0,0,0, .1);
}

.ps-reaction-options > li {
  display: inline-block;
  vertical-align: middle;
}

.ps-reaction-options > li > a {
  display: block;
  min-height: 22px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 24px;
  font-size: $font-size-lg;
  background-position: center;
  transition: all 0.2s ease;
}

.ps-reaction-options > li > a:hover,
.ps-reaction-options > li > a:focus {
  transform: scale(1.5, 1.5) translate(0, -4px);
}

.ps-reaction-options > li:last-child {
  margin-left: 5px;
  padding-left: 5px;
  border-left: 1px solid $scss-reactions-dropdown-separator;
}

.ps-reaction-options > li:last-child > a:hover,
.ps-reaction-options > li:last-child > a:focus {
  transform: none;
}

.ps-reaction-option-delete {
  padding: 0 !important;
}

.ps-reaction-option-delete > i {
  vertical-align: middle;
}


/*  Wrapping all the users reaction  */
.ps-reaction-likes > span,
.ps-reaction-likes > a {
  vertical-align: middle;
}


/*  Wrapping the details of reactions  */
.ps-reactions-details {
  position: relative;
}

.ps-reactions-details .ps-reactions-count-icon {
  width: auto;
  padding-left: 20px;
}

.ps-reactions-details-item {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid $scss-reactions-separator;
}

.ps-reactions-details-item:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border: none;
}

.ps-reactions-details-item span,
.ps-reactions-details-item a {
  vertical-align: middle;
}

.ps-reaction-details-close {
  position: absolute;
  top: 0;
  right: 0;
}

.ps-reaction-details-close > i {
  font-size: $font-size-base;
  line-height: 1;
}
