@import "../layout/content-sidebar";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

body.logged-in .hide-if-logged-in,
body:not(.logged-in) .hide-if-logged-out,
body.logged-in .ps-widget--profile__wrapper .widget-title {
    display: none;
}

.ps-alert {
    border: 1px solid $site-theme;
    color: $site-theme;
}

.progress-frame {
    width: 100%;
    background: rgba(0,0,0,0.2);

    &, .progress-bar {
        display: block;
        height: 2em;
    }

    .progress-bar {
        background-color: $site-theme;
        max-width: 100%;
    }
}
