.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.ps-btn {
    border-radius: 3px;
    background: $color__background-button !important;
    color: white !important;
    line-height: 1;
    padding: .666em 1em;
    text-decoration: none;

    &:hover {
        background-color: $color__background-button-hover !important;
    }

    &:active,
    &:focus {
        background-color: $color__background-button-focus !important;
    }

    &:hover,
    &:active,
    &:focus { color: white !important; }
}
