.main-navigation {
    clear: both;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: $site-gray;
    margin-bottom: 2em;

    ul {
        display: none;
        list-style: none;
        margin: 0;
        padding-left: 0;

        ul {
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            position: absolute;
            top: 100%;
            left: -999em;
            z-index: 99999;
            text-align: left;
            flex-wrap: wrap;

            ul {
                left: -999em;
                top: 0;
            }

            li {
                &:hover > ul,
                &:active > ul,
                &:focus > ul,
                &.focus > ul {
                    left: 100%;
                }
            }
        }

        li:hover > ul,
        li:active > ul,
        li:focus > ul,
        li.focus > ul {
            left: auto;
        }
    }

    li {
        position: relative;

        body.logged-in &.menu-item-has-children > a:after {
            content: '\e819';
            font-family: "peepso";
            font-style: normal;
            font-weight: normal;
            speak: none;
            display: inline-block;
            width: 1em;
            margin-right: .2em;
            text-align: center;
            font-variant: normal;
            text-transform: none;
            line-height: 1em;
            margin-left: .2em;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        a {
            background-color: darken($site-theme, 10%);
            color: white;
        }

        &:hover > a,
        &:active > a,
        &:focus > a,
        &.focus > a {
            background-color: $site-theme;
        }
    }

    a {
        display: block;
        text-decoration: none;
        padding: 1em 2em;
    }

    .current_page_item > a,
    .current-menu-item > a,
    .current_page_ancestor > a,
    .current-menu-ancestor > a {
    }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 37.5em) {
    .menu-toggle {
        display: none;
    }
    .main-navigation {
        ul { display: flex; }

        &, ul { flex-wrap: nowrap; }
    }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

    .site-main & {
        margin: 0 0 1.5em;
        overflow: hidden;
    }

    .nav-previous {
        float: left;
        width: 50%;
    }

    .nav-next {
        float: right;
        text-align: right;
        width: 50%;
    }
}
