//
//  OVERRIDES
//
//  All the important colors of the PeepSo layout
//	overrided & prepared for Theme Designer
//


//  General
//$color-gray-light:       #bf6e6a;
//$color-gray:             #448AFF;
$color-gray-dark:        #333;

$color-light:            rgba(0,0,0,.1);
$color-neutral:          $color-gray;
$color-primary:          #CF413B;
$color-success:          #2FBA34;
$color-warning:          #ffa726;
$color-danger:           $color-warning;
$color-brand:            #d0423c;
$color-muted:            #d5aba9;

$color-text:             $color-gray-dark;
$color-text-light:       $color-gray-light;
$color-text-dark:        $color-gray;
$color-icon:             $color-neutral;

//  Hashtags
$scss-hashtag-color:          #fff;
$scss-hashtag-color-hover:    #fff;
$scss-hashtag-bg:             $color-primary;
$scss-hashtag-bg-hover:       darken($color-primary, 10%);

//  Temporary override
$stream-post-meta-color:        $color-text-dark;
$stream-post-time-color:        $color-text-light;
$tab-content-color:             $color-gray-dark;
$postbox-charcount-color:       $color-gray-dark;
$alert:                         #FFEBEE;
$alert-color:                   #CF413B;
$alert-danger:                  $color-danger;
$alert-danger-color:            #fff7eb;


//  Buttons
$scss-btn-color:                  #CF413B;
$scss-btn-color-hover:            #CF413B;
$scss-btn-bg:                     #FFEBEE;
$scss-btn-bg-hover:               #FFCDD2;

$scss-btn-primary-color:          #FFF;
$scss-btn-primary-color-hover:    #FFF;
$scss-btn-primary-bg:             #CF413B;
$scss-btn-primary-bg-hover:       darken($scss-btn-primary-bg, 5%);

$scss-btn-success-color:          #FFF;
$scss-btn-success-color-hover:    #FFF;
$scss-btn-success-bg:             $btn-success;
$scss-btn-success-bg-hover:       darken($btn-success, 10%);

$scss-btn-warning-color:          #FFF;
$scss-btn-warning-color-hover:    #FFF;
$scss-btn-warning-bg:             $btn-warning;
$scss-btn-warning-bg-hover:       darken($btn-warning, 10%);

$scss-btn-danger-color:           #FFF;
$scss-btn-danger-color-hover:     #FFF;
$scss-btn-danger-bg:              $btn-danger;
$scss-btn-danger-bg-hover:        darken($btn-danger, 10%);


//  Toolbar
$scss-toolbar-color:              #ffbebe;
$scss-toolbar-color-hover:        #FFF;
$scss-toolbar-bg:                 #CF413B;
$scss-toolbar-bg-hover:           darken($scss-toolbar-bg, 5%);
$scss-toolbar-separator:          1px solid #EC6962;


//  Toolbar Submenu
$scss-submenu-bg:                 #CF413B;
$scss-submenu-shadow:             darken($scss-submenu-bg, 5%);
$scss-submenu-dropdown-bg:        #fcf7f7;


//  Postbox
$scss-postbox-bg:                 $postbox-bg;
$scss-postbox-color:              $postbox-color;
$scss-postbox-tab-color:          #CF413B;
$scss-postbox-tab-color-hover:    #CF413B;
$scss-postbox-tab-bg:       	    #FFEBEE;
$scss-postbox-tab-bg-hover:       #FFCDD2;


//  Focus
$scss-focus-color:                #b44646;
$scss-focus-bg:                   #e66a64;
$scss-focus-border:               $focus-border;
$scss-focus-separator:            1px solid #da5752;
$scss-focus-interactions-bg:      darken($scss-focus-bg, 5%);
$scss-focus-interactions-border:  none;
$scss-focus-item-bg-current:      $focus-link-bg--current;
$scss-focus-link-color:           #ffd9d7;
$scss-focus-link-color-hover:     #FFF;


//  Members
$scss-member-item-bg:             #fff9fa;
$scss-member-item-border:         1px solid #FFEBEE;


//  Groups
$scss-group-item-bg:              #fff9fa;
$scss-group-item-border:          #FFEBEE;
$scss-group-item-actions-bg:      #fff2f4;


//  Accordion
$scss-accordion-item-color:                 #de8e8b;
$scss-accordion-item-bg:                    #FFF2F4;
$scss-accordion-item-bg-active:             #FFF9FA;
$scss-accordion-item-border:                1px solid #ffdee3;
$scss-accordion-item-action-color:          #db7570;
$scss-accordion-item-action-color-hover:    #CF413B;


//  Popover
$scss-popover-bg:                 $popover-bg;
$scss-popover-btn-color:          $scss-btn-color;
$scss-popover-btn-bg:             $scss-btn-bg;
$scss-popover-btn-color-hover:    $scss-btn-color-hover;
$scss-popover-btn-bg-hover:       $scss-btn-bg-hover;


//  Stream
$scss-stream-post-bg:             $stream-post-bg;
$scss-stream-post-border:         1px solid #FFEBEE;
$scss-stream-post-status-bg:      #fff9fa;
//  todo
$stream-placeholder-bg:           #FFCDD2;
$stream-placeholder-bg-2:         #EF9A9A;


//  Comments
$scss-comments-bg:                #fff9fa;
$scss-comments-border:            1px solid #FFEBEE;
$scss-comments-reply-bg:          #fff2f4;


//  Form
$scss-input-color:                $input-color;
$scss-input-bg:                   $input-bg;
$scss-input-border:               1px solid #FFCDD2;
$scss-input-border-focus:         #EF9A9A;
$scss-form-sprites-position:      -26px;


//  Tabs
$scss-tab-item-bg:                #f7fafe;
$scss-tab-item-bg-active:         $tabs-item-active-bg;
$scss-tab-item-border:            1px solid #FFEBEE;
$scss-tab-item-arrows-color:      #FFEBEE;


//  Dialog window
$scss-dialog-bg:                  $dialog-bg;
$scss-dialog-border:              1px solid #f0d2d7;
$scss-dialog-header-color:        $dialog-header-color;
$scss-dialog-header-bg:           #95332f;
$scss-dialog-close-color:         #c38785;
$scss-dialog-close-color-hover:   $dialog-close-hover;
$scss-dialog-footer-bg:           #fff4f6;


//  Chat
$scss-chat-window-bg:                    $chat-window-bg;
$scss-chat-window-border:                $chat-window-border;
$scss-chat-window-header-color:          $chat-window-header-color;
$scss-chat-window-header-bg:             #e66762;
$scss-chat-window-header-bg-hover:       #f9807b;
$scss-chat-window-header-bg-active:      #CF413B;
$scss-chat-window-header-border:         $chat-window-header-shadow;
$scss-chat-window-input-border:          $chat-input-border;


//  Widget
$scss-widget-bg:                         $module-bg;
$scss-widget-border:                     1px solid #FFEBEE;
$scss-widget-header-color:               #d59c99;
$scss-widget-header-bg:                  #FFF2F4;


//  Bubble
$scss-bubble-color:                      #fff;
$scss-bubble-bg:                         $color-warning;


//  Dropdown
$scss-dropdown-bg:                       $dropdown-bg;
$scss-dropdown-border:                   none;
$scss-dropdown-item-bg:                  none;
$scss-dropdown-item-bg-hover:            #fff9fa;
$scss-dropdown-item-separator:           1px solid #FFEBEE;


//  Notifications
$scss-notification-item-separator:       1px solid #FFEBEE;
$scss-notification-item-bg-unread:       #fff6f5;


//  Avatar
$scss-avatar-bg:                         $avatar-border-color;
$scss-avatar-border:                     #FFEBEE;


//  Reactions
$scss-reactions-separator:               #FFEBEE;
$scss-reactions-dropdown-bg:             #fff;
$scss-reactions-dropdown-border:         #FFEBEE;
$scss-reactions-dropdown-separator:      #FFEBEE;
$scss-reactions-emote-shadow:            #fff;


//  BadgeOS
$scss-badgeos-item-bg:                   #fff9fa;
$scss-badgeos-item-border:               #FFEBEE;
$scss-badgeos-item-image-bg:             #fff;


//  BlogPosts
$scss-blogposts-post-bg:                 #fff;
$scss-blogposts-post-border:             #FFEBEE;
$scss-blogposts-post-image-bg:           #fff9fa;
$scss-blogposts-authorbox-border:        #FFEBEE;


//  WPAdverts
$scss-classifieds-item-bg:               #fff;
$scss-classifieds-item-border:           #FFEBEE;
$scss-classifieds-item-featured-bg:      #fff7f8;
$scss-classifieds-item-featured-border:  #FFCDD2;


//  Messages
$scss-messages-item-bg:                  #fff9fa;
$scss-messages-item-bg-unread:           #FFEBEE;
$scss-messages-header-border:            #FFEBEE;

$scss-typing-indicator-color:            #CF413B;
$scss-typing-indicator-bg:               #fff6f5;


//  Pagination
$scss-pagination-bg:                     #FFEBEE;
$scss-pagination-bg-hover:               #FFCDD2;
