body,
button,
input,
select,
optgroup,
textarea {
    color: $color__text-main;
    font-family: $font__main;
    @include font-size(1);
    line-height: $font__line-height-body;
}

.ps-stream-user,
.ps-widget--profile__title {
    font-family: $font__headings;
}

.ps-stream-time {
    font-style: italic;
}

.ps-widget--profile__title {
    margin-top: 1.5em;
}

@import "headings";

@import "copy";
