@media screen and (min-width: 600px) {
    .site-branding,
    .site-title,
    .site-description,
    .main-navigation,
    .menu-main-menu-container,
    .site-content,
    .site-info {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .site-title,
    .site-description,
    .menu-main-menu-container,
    .site-content,
    .site-info {
        max-width: 1200px;
    }

    .content-area {
        float: left;
        margin: 0 (-$size__site-sidebar) 0 0;
        width: $size__site-main;
    }

    .site-main {
        margin: 0 calc(#{$size__site-sidebar} + 2em) 0 0;
    }

    .site-content .widget-area {
        float: right;
        overflow: hidden;
        width: $size__site-sidebar;
    }

    .site-footer {
        clear: both;
        width: $size__site-main;
    }
}
