//
//  DARK-THEME CUSTOM CSS
//

@import '../../plugins/wpadverts/theme-dark';

/*  Dark styles for recipients select in new message window */
.select2-container-multi .select2-choices {
  .ps-dialog & {
    background-color: $input-bg;
    background-image: none;
    border: $input-border;
  }
}


.select2-drop {
  color: $color-text-light !important;
  background-color: $dropdown-bg !important;
}


.select2-drop-active {
  border: $dropdown-border !important;
}


.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-ajax-error,
.select2-results .select2-selection-limit {
  background-color: transparent !important;
}


.select2-container-multi .select2-choices .select2-search-choice {
  .ps-dialog & {
    color: $btn-color;
    background-color: $btn-bg;
    background-image: none;
    border: $btn-border;
    box-shadow: none;
  }
}
