//
//  STRUCTURE: GROUPS
//



//
//  Wrapping a list of groups
//
.ps-groups {
  @extend %clearfix;

  @include media('medium') {
    margin-left: -$padding-sm;
    margin-right: -$padding-sm;
  }

  > .ps-alert,
  > .ps-notice {
    margin-left: $padding-sm;
    margin-right: $padding-sm;
  }
}


.ps-group__item {
  position: relative;
  width: 100%;
  min-height: 165px;
  margin-bottom: $padding-base;
  background-color: $scss-group-item-bg;
  border: 1px solid $scss-group-item-border;

  // ROUNDED CORNERS
  @if $scss-rounded == true {
    border-radius: 6px;
  }

  @if $scss-direction == rtl {
    text-align: right;
  } @else {
    text-align: left;
  }

  @extend %flex;

  @include media('medium') {
    margin-bottom: 0;
  }

  .ps-group__item--expanded & {
    min-height: auto;
  }
}


.ps-group__item-wrapper {
  @include media('medium') {
    float: left;
    width: 50%;
    padding: $padding-sm;
    -webkit-transition: width .3s;
    transition: width .3s;
  }

  &:nth-child(2n+1) {
    clear: both;
  }
}


.ps-group__item--expanded {
  width: 100%;
}


.ps-group__item--unpublished {
  .ps-avatar--group {
    opacity: 0.2;
  }
}


.ps-group__header {
  position: relative;
  padding: ($padding-sm / 2);
  vertical-align: top;
  flex-grow: 1;

  @include media('medium') {
    width: (100px + $padding-base);
  }
}


.ps-group__body {
  width: 100%;
  padding: $padding-sm;
  padding-bottom: 45px;
  vertical-align: top;
  overflow: hidden;
  flex-grow: 1;

  .ps-link--more {
    font-size: $font-size-sm;
  }

  [class^="ps-icon-"]:before,
  [class*=" ps-icon-"]:before {
    @if $scss-direction == rtl {
      margin-right: 0;
    } @else {
      margin-left: 0;
    }
  }
}


.ps-group__title {
  margin-top: 0 !important;
  margin-bottom: ($padding-sm / 2) !important;
  padding: 0;
  font-size: $font-size-md !important;
  font-weight: normal;
  line-height: 1.2 !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.ps-group__privacy {
  display: inline-block;
  margin-bottom: ($padding-sm / 2);
  color: $color-text-light;
  font-size: $font-size-sm;

  @if $scss-direction == rtl {
    margin-left: $padding-sm;
  } @else {
    margin-right: $padding-sm;
  }
}


.ps-group__description {
  position: relative;
  margin-bottom: $padding-sm;
  padding-top: 0.5em;
  max-height: (2.4em + 0.5);
  font-size: $font-size-sm;
  line-height: 1.2em;
  color: $color-text;
  border-top: $divider;
  text-align: justify;
  overflow: hidden;

  @if $scss-direction == rtl {
    padding-left: 1em;
  } @else {
    padding-right: 1em;
  }

  &:before {
    position: absolute;
    bottom: 0;
    content: '...';

    @if $scss-direction == rtl {
      left: 0;
    } @else {
      right: 0;
    }
  }

  &:after {
    content: '';
    position: absolute;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $group-item-bg;

    @if $scss-direction == rtl {
      left: 0;
    } @else {
      right: 0;
    }
  }

  .ps-group__item--expanded & {
    max-height: none;
  }
}


.ps-group__details {
  display: inline-block;
  color: $color-text-light;
  font-size: $font-size-sm;

  > span {
    display: inline-block;
    margin-bottom: ($padding-sm / 2);

    @if $scss-direction == rtl {
      margin-left: $padding-sm;
    } @else {
      margin-right: $padding-sm;
    }

    &:last-child {
      @if $scss-direction == rtl {
        margin-left: 0;
      } @else {
        margin-right: 0;
      }
    }
  }

  > .ps-list--inline {
    > li:first-child {
      @if $scss-direction == rtl {
        margin-left: 5px;
      } @else {
        margin-right: 5px;
      }
    }
  }
}


.ps-group__details-hide {
  display: none !important;

  .ps-group__item--expanded & {
    display: inline-block !important;
  }
}


.ps-group__actions {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: ($padding-sm / 2 );
  background-color: $scss-group-item-actions-bg;

  @if $scss-direction == rtl {
    text-align: left;
  } @else {
    text-align: right;
  }
}


.ps-group__alert {
  position: absolute;
  top: 22.5%;
  left: 0;
  right: 0;
  font-size: $font-size-lg;
  text-align: center;

  > i {
    display: block;
    color: $color-danger;
  }

  > span {
    display: none;
    color: $color-text-light;
    font-size: $font-size-sm;
    line-height: 3;
  }

  @include media('medium') {
    top: 25%;

    > span {
      display: block;
    }
  }
}


.ps-group__limit {
  font-size: $font-size-xs;
  font-weight: normal;
  line-height: 1.5;
}
