//
//  NOTIFICATIONS
//



.ps-notifications {}


.ps-notification__wrapper {
  // Replace with the new class
  .ps-comment-item {
    padding: $padding-sm $padding-base;
  }
}


.ps-notification {
  border-bottom: $scss-notification-item-separator;

  small {
    font-size: $font-size-xs;
  }
}


.ps-notification__inside {
  display: flex;
  align-items: center;
  padding: $padd;
  font-size: $font-size-base;
  line-height: 1.2;
}


.ps-notification__check {
  position: relative;
}


.ps-notification__header {}


.ps-notification__body {
  @if $scss-direction == rtl {
    padding-right: $padd;
  } @else {
    padding-left: $padd;
  }
}


.ps-notification__title {
  font-weight: bold;
}


.ps-notification__desc {
  color: $color-text-dark;
}


.ps-notification__meta {
  color: $color-text-light;
}


.ps-notification--unread {
  background-color: $scss-notification-item-bg-unread;
}


.ps-notification__status {
  vertical-align: middle;

  > span {
    @include media('large') {
      display: none;
    }
  }
}


//
//  Improve styling on WP Admin bar
//
#wpadminbar {
  .ps-notification {
    @extend .ps-notification;

    img {
      max-width: 100%;
    }
  }

  a.ps-notification__inside {
    @extend .ps-notification__inside;

    height: auto;
  }

  .ps-notification__body {
    @extend .ps-notification__body;
  }
}
