.ps-preferences {}


.ps-preferences__notification {
  display: flex;
  justify-content: space-between;
  line-height: 1.6;
}


.ps-preferences__notifications-actions {
  margin-bottom: $padd--med;
}


.ps-preferences-notifications__menu {
  margin-top: $padd;
  text-align: center;

  @include media('medium') {
    display: flex;
    flex-wrap: wrap;
    border: $divider;
  }
}


.ps-preferences-notifications__menu-item {
  display: block;
  padding: ($padd / 2) 0;
  font-size: $font-size-sm;

  @include media('medium') {
    flex-grow: 1;
    width: 50%;
    padding: ($padd / 2);
    font-size: 11px;
    border-right: $divider;

    &:last-child,
    &:nth-child(2n) {
      border-left: none;
      border-right: none;
    }
  }

  @include media('large') {
    width: auto;

    &:nth-child(2n) {
      border-right: $divider;
    }

    &:last-child {
      border-left: none;
      border-right: none;
    }
  }
}


.ps-preferences__checkbox {
  display: flex;
  justify-content: flex-end;
  width: 100px;

  label {
    margin: 0 !important;
    padding: 0 !important;
  }

  > span:first-child {
    @if $scss-direction == rtl {
      padding-left: 20px;
    } @else {
      padding-right: 20px;
    }

    @include media('medium') {
      @if $scss-direction == rtl {
        padding-left: 45px;
      } @else {
        padding-right: 45px;
      }
    }
  }

  @include media('medium') {
    width: 50px;
  }
}


.ps-preferences__title {
  font-weight: bold;
}

.ps-form-legend + .ps-form-controls .ps-preferences__checkbox {
  width: 100%;
  font-weight: bold;

  > span:first-child {
    @if $scss-direction == rtl {
      padding-left: 10px;
    } @else {
      padding-right: 10px;
    }
  }

  @include media('small') {
    font-size: 10px;
  }
}
